body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F7F7F7;
    color: #2C3E50;
}

header {
    background-color: #2C3E50;
    color: #F7F7F7;
    padding: 20px;
    text-align: center;
}

header p {
    font-style: italic;
}

nav ul {
    list-style: none;
    padding: 0;
    background-color: #2C3E50;
    text-align: center;
    margin: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #F7F7F7;
    text-decoration: none;
    font-weight: bold;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

footer {
    background-color: #2C3E50;
    color: #F7F7F7;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a {
    color: #E74C3C;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}